<html>
	<head>
		<title>Leaflet Mobile Map</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	</head>
	<body>
		<div id="map"></div>
	</body>
	
	<% block('localScripts', '<script src="/js/local/map/map.page.js"></script>') %>
</html>